<script>
    import './on.css'
</script>



<section class="on">
    <div class="container">
        <div class="on__wrapper">
            <h2 class="on__header">
                Courses on orientation
            </h2>
            <p class="on__text">
                Please choose your course in the direction!
            </p>
            <div class="on__img-wrapper">
                <a class="on__img-link" href="https://t.me/zuccoacademy/239" target="_blank">
                    <img class="on__img" src="img/on__img-1.png" alt="Front-End course" width="345" height="416">
                </a>
                <a class="on__img-link" href="https://t.me/zuccoacademy/104" target="_blank">
                    <img class="on__img" src="img/on__img-2.png" alt="Front-End course" width="345" height="416">
                </a>
                <a class="on__img-link" href="https://t.me/zuccoacademy/438" target="_blank">
                    <img class="on__img" src="img/on__img-3.png" alt="Front-End course" width="345" height="416">
                </a>
                <a class="on__img-link" href="https://t.me/zuccoacademy/266" target="_blank">
                    <img class="on__img" src="img/on__img-4.png" alt="Front-End course" width="345" height="416">
                </a>
            </div>
        </div>
    </div>
</section>