.on {
  padding-bottom: 116px;
  padding-top: 70px;
}

.on__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.on__header {
  font-family: "Roboto Condensed";
  font-size: 36px;
  line-height: 128.02%;
  color: #000000;
}

.on__text {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 38px;
  text-align: justify;
  color: #000000;
  margin-top: 7px;
  margin-bottom: 42px;
}

.on__img-wrapper {
  display: flex;
  gap: 20px;
}

.on__img-link {

}

.on__img {
    border-radius: 21px;
}
