---
import Our from "../components/Our/our.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zucco Academy">
  <body>
    <main class="main" id="main">
     <Our />
    </main>
  </body>
</Layout>
