---
import About from "../components/About/about.svelte";
import On from "../components/On/on.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Zucco Academy">
  <body>
    <main class="main" id="main">
      <About />
      <On />
    </main>
  </body>
</Layout>
