---
import Layout from "../layouts/Layout.astro";
import Program from "../components/Program/program.astro";
import Hero from "../components/Hero/hero.svelte";
import Student from "../components/Student/student.svelte";
---

<Layout title="Zucco Academy">
  <body>
    <main>
		<Hero />
		<Program />
    <Student />
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d187.27295616189025!2d69.2464629!3d41.3226258!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8bd5d08cd293%3A0x10a4761db612c58f!2sZucco%20Academy!5e0!3m2!1sru!2s!4v1680697105757!5m2!1sru!2s" title="Zucco Academy location" width="100%" height="794" style="border:0; display: block;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
  </body>
</Layout>

<style>
 
</style>
