---
export interface Props {
  title: string;
  body: string;
  img: string;
}
const { title, body, img } = Astro.props;
---

<li class="program__item">
  <img
    class="program__item-img"
    src={img}
    width="auto"
    height="auto"
    alt="Программа курса"
    loading="lazy"
    title="icons"
  />
  <h3 class="program__item-title">
    {title}
  </h3>
  <p class="program__item-body">
    {body}
  </p>
</li>

<style lang="scss">
  
  .program__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #30303071;
    border-radius: 20px;
    padding: 20px 0;
    transition: all 0.4s ease-in;

    &:hover {
      box-shadow: 7px 9px 3px #878787;
      transform: scale(1.02);
    }
    &:active {
      transition: all 0.2s ease-in;
    }
    .program__item-img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(15.71429px + 3.34821vw);
      filter: drop-shadow(7px 6px 0px rgba(0, 0, 0, 0.500));
    }
    .program__item-title {
      margin-top: 20px;
      margin-bottom: 30px;
      max-width: 304px;
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      color: #303030;
      text-align: center;
    }
    .program__item-body {
      width: 300px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
    }
    
  }
</style>
