<script>
    import './our.css'
</script>


<section class="our">
    <div class="container">
        <div class="our__wrapper">
            <h2 class="our__header">Akademiyamiz haqida</h2>
            <p class="our__text">«Zucco Academy» digital academy — bu zamonaviy kasblar o‘qitiladigan onlayn akademiya. Qayerda bo‘lishingizdan qat’i nazar: uydami yo mehmonda, daladami yo safarda — o‘zingizga qulay tarzda va vaqtda bilim olishingiz mumkin, internet va noutbuk bo‘lsa bas.</p>
            <img class="our__img" src="/img/hero__bgi.svg" alt="web programmer" >
            <h2 class="our__header">Bizning keng qamrovli jamoamiz</h2>
            <p class="our__text">Har bir o‘quv kursi shunday ishlab chiqilganki, ularni muvaffaqiyatli yakunlab, siz zamonaviy kasb egasiga aylanishingiz va shu sohada o‘z faoliyatingizni boshlashingiz mumkin. Hammasi o‘z qo‘lingizda.</p>
            <img class="our__img" src="/img/about__bg.svg" alt="web programmer" >
        </div>
    </div>
</section>