---
import Layout from "../../layouts/Layout.astro";
import Offline from "../../components/Offline/offline.svelte";
---

<Layout title="Zucco Academy">
  <body>
    <main class="main" id="main">
      <Offline />
    </main>
  </body>
</Layout>
